{{{ name }}} {{{ version }}}

{{{ description }}}

Usage:

  $ {{{ name }}} [-d|--dotenv] [-h|--help] <template> <output>

Parameters:

  -d, --dotenv  - Import dotenv to support ".env" file.
  -v, --version - Show version and exit.
  -h, --help    - Display help.

  template      - Mustache template file, or "-" for stdin.
  output        - Render output file, or "-" for stdout.

License: {{{ license }}}
